.containerNavbar {
    display: flex;
    text-align: right;
    height: 50px;
    margin: 5px;
    padding: 10px;
    background-color: rgb(37, 37, 37);
}

.nabvar-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-arrow {
    border: none;
    border-radius: 20px;
    background-color: rgb(37, 37, 37);
}

#buttonUser {
    background-color: black;
    color: white;
    font-size: 13px;
    height: 50%;
    width: 100%;
    border-bottom: none;
}

#buttonUser:active {
    color: rgb(28, 116, 28);
    border-color:rgb(28, 116, 28) ;
}